.all{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}.nav{
  width: 100%;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: arial;
  background-color: rgba(253, 252, 252, 0.4);
  backdrop-filter: blur(5px);
  color: #213555;
  z-index: 100;
}.nav1{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 10px 10px 10xp 10xp;
}.navchild1{
  display: flex;
  justify-content: space-between;
  align-items: end;
}.bulat{
  background-color: #213555 ;
  width: 50px;
  height: 50px;
  border-radius:50%;
  margin-left: 10px;
}.navmen{
  display: block;
  font-family: arial rounded mt;
  font-size: 30px;
  margin: 10px 10px 10px 10px;
  color: #213555; 
  text-decoration: none;
}.navlist{
  margin: 10px 10px 10px 10px;
  list-style: none;
}.a1{
  color: #213555; 
  text-decoration: none;
}.a1:hover{
  text-decoration: underline;
}

#menu{
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 2px solid #213555 ;
}.image1{
  background-image: url(1.jpg);
  width: 500px;
  height: 500px;
  border-radius:50%;
  overflow: hidden;
}.isi1{
  margin: 50px;
  width: 500px;
  position:relative;
  bottom: 30px;
}.hello{
  font-size: 100px;
  font-family:futura md bt;
  color: #213555;
}.bit{
  font-size: 30px;
  margin-top: -60px;
  font-family: Helvetica ;
  color: #213555;
}.isi2{
  display: flex;
}.a2{
  display: block;
  margin-right: 20px;
  text-align: center;
  width: 120px;
  height: 120px;
  border-radius:50%;
  line-height: 120px;
  text-decoration: none;
  font-family: candara;
}.a2:nth-child(1){
  background-color: rgb(212, 67, 67);
  color: aliceblue;
}.a2:nth-child(2){
  background-color: rgb(63, 130, 212);
  color: aliceblue;
}.a2:nth-child(3){
  background-color: rgb(230, 216, 64);
  color: aliceblue;
}.a2:hover{
  transform: scale(1.2);
  transition: transform 0.3s ease;
}.p1{
  font-size: 18px;
  font-family: Arial;
  color: #213555;
}

#resume{
  display: flex;
  flex-direction: column;
  color: #213555;
  width: 1000;
}.resume{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;  
}.resume2{
  display: flex;
  flex-direction: column;
  align-items: end;
  font-size: 110%;
  font-family: arial;
  margin-right: 60px;
  text-align: end;
}.resume3{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 300px;
}.experien{
  border: 1px solid black;
}.res{
  font-size: 40;
  font-family:  arial rounded mt ;
  margin-top: 80px;
}.edu{
  margin-top: -10px;
  font-size: 30;
  font-family:  arial rounded mt ;
}.htmlbar{
  border: 1px solid ;
  height: 15px;
  width: 300px;
  border-radius:5px;
  background: linear-gradient(-90deg, #295397 40%, whitesmoke 30%);
  text-align: center;
  font-size: 12;
}.cssbar{
  border: 1px solid ;
  height: 15px;
  width: 300px;
  border-radius:5px;
  background: linear-gradient(-90deg, #295397 35%, whitesmoke 30%);
  text-align: center;
  font-size: 12;
}.cbar{
  border: 1px solid ;
  height: 15px;
  width: 300px;
  border-radius:5px; 
  background: linear-gradient(-90deg, #295397 30%, whitesmoke 30%);
  text-align: center;
  font-size: 12; 
}

#galery{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #213555;
  width: 1000;
}.gale{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border: 2px solid #213555;
  height: 600;
}.galery{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 10PX 10PX 10PX;
  position: relative;
}.picture{
  object-fit: cover; 
  box-shadow: 1px 5px 9px rgba(0, 0, 0, 0.2); 
}.picture:hover{
  transform: scale(1.5);
  transition: transform 0.3s ease;
}

#project{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #213555;
  width: 1000;
}.project{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: 120%;
  font-family: arial;
}.project2{
  display: flex;
  flex-direction: column;
  width: 400px;
}

#contact{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #213555;
  width: 1000;
  height: 550px;
}.contact{
  display: flex;
  flex-direction: column;
  font-size: 120%;
  font-family: arial;
}.contact2{
  display: flex;
  flex-direction: column;
  font-size: 120%;
  font-family: arial;
  position: relative;
  top: 120;
}.contact3{
  display: flex;
  margin-top: -30px;
}.input{
  height: 40px;
  width: 230;
  margin-top:-15px;
}.textarea{
  resize: none;
  height: 150px;
  width: 300px;
}.button{
  display: block;
  height: 140px;
  width: 140px;
  border-radius:50%;
  background-color: #213555;
  color: aliceblue;
  font-size: 15px;
  position: relative;
  top: 90px;
  left: 20px;
}.button:hover{
  transform: scale(1.2);
  transition: transform 0.3s ease;
}

.footer{
  display: flex;
  justify-content: space-around;
  width: 100%;
  font-family: arial;
  color: #213555;
  border-top: 1px solid grey;
}.footer2{
  display: flex;
  flex-direction: column;

}.footer3{
  display: flex;
  justify-content: space-around;
  margin-top: -15px;
}
